<div class="dcp-modal dcp-slide" id="dcp-modal-alert" aria-hidden="true">
  <div class="dcp-modal-overlay" tabindex="-1" data-micromodal-close>
    <div class="dcp-modal-container" role="dialog" aria-modal="true" aria-labelledby="dcp-modal-alert-title">
      <form id="dcp-modal-alert-form" method="dialog"></form>
      <header class="dcp-modal-header">
        <h2 class="dcp-modal-title" id="dcp-modal-alert-title"></h2>
        <button class="dcp-modal-close" aria-label="Close modal" data-micromodal-close></button>
      </header>
      <main class="dcp-modal-content" id="dcp-modal-alert-content">
        <!-- div class="dcp-bug-icon" style="display: inline-block; float: right">&#x1F41E;</div-->
        <p id="dcp-modal-alert-message"></p>
        <pre class="dcp-stack-trace">stack trace goes here</pre>
      </main>
      <footer class="dcp-modal-footer">
        <div class="dcp-buttons-wrapper">
          <button form="dcp-modal-alert-form"
            id="dcp-modal-alert-submit-button"
            class="dcp-modal-btn dcp-modal-btn-positive">
          </button> 
        </div>
        <a class='dcp-bug-icon' href='#' title="Stack Trace">&#x1F41E;</a>
        <a class="dcp-modal-logo-link" href="https://distributed.computer/"></a>
      </footer>
    </div>
  </div>
</div>
