/**************************\
  Basic Modal Styles
\**************************/
.dcp-modal {
  font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
  font-size: 16px;
}

.dcp-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dcp-modal-container {
  background-color: #fff;
  padding: 30px;
  max-width: 450px;
  min-width: 16em;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

.dcp-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dcp-modal-title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: black;
  box-sizing: border-box;
}

.dcp-modal-remember {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 0.65rem;
  line-height: 3.9;
  color: rgba(0,0,0,.8);
  box-sizing: border-box;
}

.dcp-modal-close {
  background: transparent;
  border: 0;
}

.dcp-modal-header .dcp-modal-close:before { content: "\2715"; }

.dcp-modal-content {
  margin: 1rem 0;
  line-height: 1.5;
  color: rgba(0,0,0,.8);
}

.dcp-modal-logo-link {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  background: url(../assets/dcp-logo.png);
  background-size: 40px;
  float: right;
}

.dcp-modal-content > p {
  margin-bottom: 0;
}

#dcp-modal-password-create-matching-error {
  font-size: 0.65em;
  text-align: right;
  color: red;
}

.dcp-modal-btn {
  font-size: .875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #e6e6e6;
  color: rgba(0,0,0,.8);
  border-radius: .25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out,-webkit-transform .25s ease-out;
}

.dcp-modal-btn:focus, .dcp-modal-btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.dcp-modal-btn-primary {
  background-color: #444;
  color: #fff;
}

.dcp-modal-btn-positive {
  background-color: #444;
  color: #fff;
  margin: 0px 0.5em 0px 0.5em;

}

.dcp-modal-btn-negative {
  background-color: #fff;
  color: #444;
  border: solid 1px gray;
  margin: 0px 0.5em 0px 0.5em;

}

.invisible {
  visibility: hidden;
}


/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.dcp-slide {
  display: none;
}

.dcp-slide.is-open {
  display: block;
}

.dcp-slide[aria-hidden="false"] .dcp-modal-overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.dcp-slide[aria-hidden="false"] .dcp-modal-container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.dcp-slide[aria-hidden="true"] .dcp-modal-overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.dcp-slide[aria-hidden="true"] .dcp-modal-container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.dcp-slide .dcp-modal-container,
.dcp-slide .dcp-modal-overlay {
  will-change: transform;
}

.dcp-modal .dcp-modal-footer {
  display: flex;
  align-items: center;
}

.dcp-modal .dcp-buttons-wrapper {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.dcp-modal .dcp-platform-win  button[name="positive"] {
  order: 0;
}

.dcp-modal .dcp-platform-win  button[name="negative"] {
  order: 1;
}

/** Rules which affect the behaviour of alert dialogs
 *  based on whether or not their messages are instanceof Error
 */
#dcp-modal-alert.exception #dcp-modal-alert-message {
  white-space: normal;
  margin-right: 2em;    
}

#dcp-modal-alert .dcp-bug-icon,
#dcp-modal-alert .dcp-stack-trace {
  display: none;
}

#dcp-modal-alert.exception .dcp-bug-icon {
  padding-right: 0.35em;
  display: inline-block;
  text-decoration: none;
}

#dcp-modal-alert.exception .dcp-stack-trace {
  text-align: right;
  font-size: 0.8em;
  padding-right: 0.35em;
}

#dcp-modal-alert.exception .dcp-stack-trace {
  display: none;
  max-height: 10em;
}

#dcp-modal-alert.exception.dcp-show-stack .dcp-stack-trace {
  display: initial;
  white-space: pre-wrap;
}

