/**************************\
  Basic Modal Styles
\**************************/
@font-face {
  font-family: "Proxima Nova";
  src: local("Proxima Nova"), url(../assets/proxima-nova.otf);
}

.dcp-modal {
  font-family: "Proxima Nova";
}

.dcp-modal > DIV,
.dcp-modal > DIV *,
.dcp-modal DIV,
.dcp-modal
{
  font-family: "Proxima Nova";
  font-size: 16px;
}

.dcp-modal .dcp-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dcp-modal .dcp-modal-container {
  background-color: #fff;
  padding: 30px 50px;
  width: 400px;
  height: 360px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

.dcp-modal .dcp-modal-header {
  display: flex;
  justify-content: center;
}

.dcp-modal .dcp-modal-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.25;
  color: black;
  box-sizing: border-box;
  margin: 0;
}

.dcp-modal .dcp-modal-remember {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 1rem;
  line-height: 2.5;
  color: rgba(0,0,0,.8);
  box-sizing: border-box;
}

.dcp-modal .dcp-modal-close {
  background: transparent;
  border: 0;
  position: absolute;
  top: 15px;
  right: 9px;
}

.dcp-modal .dcp-modal-close:hover {
  cursor: pointer;
}

.dcp-modal .dcp-modal-close:before { content: url(../assets/close-icon.svg); }

.dcp-modal .dcp-modal-content {
  line-height: 1.5;
  color: rgba(0,0,0,.8);
  text-align: center;
}

#dcp-modal-logo {
  height: 70px;
  margin-bottom: 16px;
}

.dcp-modal .dcp-modal-content > p {
  margin-bottom: 0;
}

#dcp-modal-password-create-matching-error {
  font-size: 0.65em;
  text-align: right;
  color: red;
}

#dcp-modal-oauth-login-button,
#dcp-modal-password-submit,
#dcp-modal-keystore-file-upload-button,
#dcp-modal-alert-submit-button {
  box-sizing: border-box;
  position: relative;
  height: 3em;
  min-width: 8em;
  padding: 0 2em;
  font-weight: bold;
  background: #1aa473;
  color: white;
  border: 1px solid #1aa473;
  cursor: pointer;
  margin-top: 70px;
  font-size: 15px;
}

#dcp-modal-password-submit,
#dcp-modal-alert-submit-button {
  margin-top: 20px;
}

#dcp-modal-keystore-file-input,
#dcp-modal-keystore-file-submit {
  display: none;
}

#dcp-modal-password-submit {
  max-width: 8em;
}

#dcp-modal-keystore-file-input::file-selector-button {
  background: white;
  border: 1px solid #1aa473;
  color: #1aa473;
}

#dcp-modal-keystore-file-input::file-selector-button:hover {
  background: #6fc495;
  color: white;
  transition: 200ms;
}

#dcp-modal-oauth-login-button:hover {
  background: #6fc495;
}

.dcp-modal .dcp-modal-btn-primary {
  background-color: #444;
  color: #fff;
}

.dcp-modal .dcp-modal-btn-positive {
  background-color: #444;
  color: #fff;
  margin: 0px 0.5em 0px 0.5em;

}

.dcp-modal .dcp-modal-btn-negative {
  background-color: #fff;
  color: #444;
  border: solid 1px gray;
  margin: 0px 0.5em 0px 0.5em;

}

.dcp-modal .invisible {
  visibility: hidden;
}

.dcp-modal .inlineinput {
  text-align: left;
  position: relative;
  bottom: 10px;
}

.inlineinput input,
.inlineinput select {
  filter: none;
  height: 35px;
  padding: 0.4em 1em 0.2em;
  border: 1px solid #8A8A8A;
  border-radius: 0;
  box-sizing: border-box;
  font-size: 1em;
}

@media screen and (min-device-width: 800px) {
  .inlineinput input,
  .inlineinput select {
    width: 100%;
  }
}

.inlineinput input:focus, .inlineinput select:focus {
  box-shadow: 0 0 0 0.25rem rgba(0, 164, 115, 0.25);
  outline: none;
}

.inlineinput input[type=number] {
  color: #1aa473;
  font-weight: bold;
}

.inlineinput select option {
  color: black;
}

.inlineinput input::placeholder, .inlineinput select:invalid {
  color: #e5e5e5;
}

.inlineinput label {
  position: relative;
  display: inline-block;
  background-color: white;
  margin: 0 1.25em 0 0.4em;
  padding: 0 0.75em 0 0.75em;
  font-size: 0.9em;
  line-height: 1em;
  top: 0.6em;
  left: 0.2em;
  color: #8a8a8a;
  z-index: 2;
  text-align: initial;
}

select.invalid,
input.invalid {
  border-color: red;
}

.dcp-modal-remember input[type='checkbox'] {
  transform: scale(1.4);
  margin-right: 10px;
}

#dcp-modal-keystore-file-input {
  margin-top: 10px;
}

#dcp-modal-password input {
  padding: 10px;
}

#dcp-modal-password-content {
  display: flex;
  flex-direction: column;
  align-items: center;
} 

#dcp-modal-password-content h2 {
  margin: 0;
  margin-bottom: 13px;
}

#dcp-modal-password-content p {
  margin: 0;
  line-height: 22px;
  height: 44px;
}

/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.dcp-slide {
  display: none;
}

.dcp-slide.is-open {
  display: block;
}

.dcp-slide[aria-hidden="false"] .dcp-modal-overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.dcp-slide[aria-hidden="false"] .dcp-modal-container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.dcp-slide[aria-hidden="true"] .dcp-modal-overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.dcp-slide[aria-hidden="true"] .dcp-modal-container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.dcp-slide .dcp-modal-container,
.dcp-slide .dcp-modal-overlay {
  will-change: transform;
}

.dcp-modal .dcp-modal-footer {
  display: flex;
  align-items: center;
}

.dcp-modal .dcp-buttons-wrapper {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.dcp-modal .dcp-platform-win  button[name="positive"] {
  order: 0;
}

.dcp-modal .dcp-platform-win  button[name="negative"] {
  order: 1;
}

/** Rules which affect the behaviour of alert dialogs
 *  based on whether or not their messages are instanceof Error
 */
#dcp-modal-alert.exception #dcp-modal-alert-message {
  white-space: normal;
  margin-right: 2em;    
}

#dcp-modal-alert .dcp-bug-icon,
#dcp-modal-alert .dcp-stack-trace {
  display: none;
}

#dcp-modal-alert.exception .dcp-bug-icon {
  padding-right: 0.35em;
  display: inline-block;
  text-decoration: none;
}

#dcp-modal-alert.exception .dcp-stack-trace {
  text-align: right;
  font-size: 0.8em;
  padding-right: 0.35em;
}

#dcp-modal-alert.exception .dcp-stack-trace {
  display: none;
  max-height: 10em;
}

#dcp-modal-alert.exception.dcp-show-stack .dcp-stack-trace {
  display: initial;
  white-space: pre-wrap;
}
