<div class="dcp-modal dcp-slide" id="dcp-modal-keystore-remember" aria-hidden="true">
  <div class="dcp-modal-overlay" tabindex="-1" data-micromodal-close>
    <div class="dcp-modal-container" role="dialog" aria-modal="true" aria-labelledby="dcp-modal-keystore-remember-title">
      <form id="dcp-modal-keystore-remember-form" method="dialog"></form>
      <header class="dcp-modal-header">
        <h2 class="dcp-modal-title" id="dcp-modal-keystore-file-title">Keystore File</h2>
        <button class="dcp-modal-close" aria-label="Close modal" data-micromodal-close></button>
      </header>
      <main class="dcp-modal-content" id="dcp-modal-keystore-remember-content">
        <p id="dcp-modal-keystore-remember-prompt"></p>
      </main>
      <footer class="dcp-modal-footer">
        <button form="dcp-modal-keystore-remember-form"
               class="dcp-modal-btn dcp-modal-btn-primary"
               id="dcp-modal-keystore-remember-yes">
               Yes
        </button>
        <button form="dcp-modal-keystore-remember-form"
               class="dcp-modal-btn dcp-modal-btn-primary"
               name="rememberNo" 
               aria-label="Close modal"
               data-micromodal-close>
               No
        </button>
        <a class="dcp-modal-logo-link" href="https://distributed.computer"></a>
      </footer>
    </div>
  </div>
</div>