<!-- DCP Keystore File Modal -->
<div class="dcp-modal dcp-slide" id="dcp-modal-keystore-file" aria-hidden="true">
  <div class="dcp-modal-overlay" tabindex="-1" data-micromodal-close>
    <div class="dcp-modal-container" role="dialog" aria-modal="true" aria-labelledby="dcp-modal-keystore-file-title">
      <form id="dcp-modal-keystore-file-form" method="dialog"></form>
      <header class="dcp-modal-header">
        <h2 class="dcp-modal-title" id="dcp-modal-keystore-file-title">Keystore File Upload</h2>
        <button class="dcp-modal-close" aria-label="Close modal" data-micromodal-close></button>
      </header>
      <main class="dcp-modal-content" id="dcp-modal-keystore-file-content">
        <p id="dcp-modal-keystore-file-prompt"></p>
        <input type="file" form="dcp-modal-keystore-file-form" required="required" id="dcp-modal-keystore-file-input">
        <div class="dcp-modal-remember">
          <input type="checkbox" form="dcp-modal-keystore-file-form" id="dcp-modal-keystore-file-checkbox">
          <label for="dcp-modal-keystore-file-checkbox" class="dcp-modal-remember">Remember my keystore</label>
        </div> 
      </main>
      <footer class="dcp-modal-footer">
        <div class="dcp-buttons-wrapper">
          <button form="dcp-modal-keystore-file-form"
            id="dcp-modal-keystore-file-submit"
            class="dcp-modal-btn dcp-modal-btn-primary">
            Submit
          </button>
        </div>
        <a class="dcp-modal-logo-link" href="https://distributed.computer"></a>
      </footer>
    </div>
  </div>
</div>
