<!-- DCP OAuth Login Modal -->
<div class="dcp-modal dcp-slide" id="dcp-modal-oauth-login" aria-hidden="true">
  <div class="dcp-modal-overlay" tabindex="-1" data-micromodal-close>
    <div class="dcp-modal-container" role="dialog" aria-modal="true" aria-labelledby="dcp-modal-keystore-file-title">
      <form id="dcp-modal-oauth-login-form" method="dialog"></form>  
      <div class="dcp-modal-header">
        <a class="dcp-modal-logo-link" href="https://distributed.computer">
          <img id="dcp-modal-logo" src="../../assets/dcp-logo.png"/>
        </a>
      </div>
      <button class="dcp-modal-close" aria-label="Close modal" data-micromodal-close>
      </button>
      <main class="dcp-modal-content" id="dcp-modal-oauth-login-content">
        <h2 class="dcp-modal-title" id="dcp-modal-oauth-login-title">Login required to deploy job</h2>
        <p>This application requires DCP access<br> credentials and compute credits.</p>
        <p>If the DCP Login screen has not automatically<br> opened within the next 10 seconds click here.</p>
        <button id="dcp-modal-oauth-login-button">Open Log In</button>
        <div class="dcp-modal-remember">
          <input type="checkbox" form="dcp-modal-oauth-login-form" id="dcp-modal-oauth-login-checkbox">
          <label for="dcp-modal-oauth-login-checkbox" class="dcp-modal-remember">Remember my keystore</label>
        </div> 
      </main>
    </div>
  </div>
</div>
