<!-- DCP Keystore Password Modal -->
<div class="dcp-modal dcp-slide" id="dcp-modal-password" aria-hidden="true">
  <div class="dcp-modal-overlay" tabindex="-1">
    <div class="dcp-modal-container" role="dialog" aria-modal="true" aria-labelledby="dcp-modal-password-title">
      <form id="dcp-modal-password-form" method="dialog"></form>
      <div class="dcp-modal-header">
        <a class="dcp-modal-logo-link" href="https://distributed.computer">
          <img id="dcp-modal-logo" src="https://secure.distributed.computer/assets/dcp-logo-5db53cc2b8186a6c250379b20bcb5ed4926c433903a3441234f09ea40b3cea65.png"/>
        </a>
      </div>
      <main class="dcp-modal-content" id="dcp-modal-password-content">
        <h2 class="dcp-modal-title" id="dcp-modal-password-title">Passphrase Required</h2>
        <p id="dcp-modal-password-prompt"></p>
        <input form="dcp-modal-password-form" type="text" autocomplete="username" id='dcp-modal-password-hidden-username' style="display:none">
        <div class="inlineinput">
          <label>Passphrase</label>            
          <input form="dcp-modal-password-form" type="password" autocomplete="current-password" id="dcp-modal-password-input">
        </div>
        <button form="dcp-modal-password-form" id="dcp-modal-password-submit" type="submit">Submit</button>
      </main>
    </div>
  </div>
</div>

