<!-- DCP Keystore Password Modal -->
<div class="dcp-modal dcp-slide" id="dcp-modal-password" aria-hidden="true">
  <div class="dcp-modal-overlay" tabindex="-1" data-micromodal-close>
    <div class="dcp-modal-container" role="dialog" aria-modal="true" aria-labelledby="dcp-modal-password-title">
      <form id="dcp-modal-password-form" method="dialog"></form>
      <header class="dcp-modal-header">
        <h2 class="dcp-modal-title" id="dcp-modal-password-title">Enter Password</h2>
        <button class="dcp-modal-close" aria-label="Close modal" data-micromodal-close></button>
      </header>
      <main class="dcp-modal-content" id="dcp-modal-password-content">
        <p id="dcp-modal-password-prompt"></p>
        <input form="dcp-modal-password-form" type="text" autocomplete="username" id='dcp-modal-password-hidden-username' style="display:none">
        <input form="dcp-modal-password-form" type="password" autocomplete="current-password" id="dcp-modal-password-input">
      </main>
      <footer class="dcp-modal-footer">
        <div class="dcp-buttons-wrapper">
          <button form="dcp-modal-password-form" class="dcp-modal-btn dcp-modal-btn-primary" id="dcp-modal-password-submit" type="submit">Submit</button>
        </div>
        <a class="dcp-modal-logo-link" href="https://distributed.computer"></a>
      </footer>
    </div>
  </div>
</div>

