<!-- DCP Keystore Password Modal -->
<div class="dcp-modal dcp-slide" id="dcp-modal-password" aria-hidden="true">
  <div class="dcp-modal-overlay" tabindex="-1" data-micromodal-close>
    <div class="dcp-modal-add-password-first-time">
      <div class="dcp-modal-container" role="dialog" aria-modal="true" aria-labelledby="dcp-modal-password-title">
        <header class="dcp-modal-header">
          <h2 class="dcp-modal-title" id="dcp-modal-password-title">{{password}}</h2>
          <button class="dcp-modal-close" aria-label="Close modal" data-micromodal-close></button>
        </header>
        <main class="dcp-modal-content" id="dcp-modal-password-content">
          <p id="dcp-modal-password-prompt">{{password_prompt}}</p>
          <input type="password" id="dcp-modal-password-input" >
        </main>
        <footer class="dcp-modal-footer">
          <button class="dcp-modal-btn dcp-modal-btn-primary" id="dcp-modal-password-submit">{{submit}}</button>
        </footer>
      </div>
    </div>
    <div class="dcp-modal-bad-password" style="opacity: 0">
      <div class="dcp-modal-container" role="dialog" aria-modal="true" aria-labelledby="dcp-modal-password-title">
        <header class="dcp-modal-header">
          <h2 class="dcp-modal-title" id="dcp-modal-password-title">{{password}}</h2>
          <button class="dcp-modal-close" aria-label="Close modal" data-micromodal-close></button>
        </header>
        <main class="dcp-modal-content" id="dcp-modal-password-content">
          <p id="dcp-modal-password-prompt">{{bad_password_prompt}}</p>
          <input type="password" id="dcp-modal-password-input" >
        </main>
        <footer class="dcp-modal-footer">
          <button class="dcp-modal-btn dcp-modal-btn-primary" id="dcp-modal-password-submit">{{submit}}</button>
        </footer>
      </div>
    </div>
  </div>
</div> 