<!-- DCP Keystore Password Modal -->
<div class="dcp-modal dcp-slide" id="dcp-modal-password-create" aria-hidden="true">
  <div class="dcp-modal-overlay" tabindex="-1" data-micromodal-close>
    <div class="dcp-modal-container" role="dialog" aria-modal="true" aria-labelledby="dcp-modal-password-create-title">
      <form id="dcp-modal-password-create-form" method="dialog"></form>
      <header class="dcp-modal-header">
        <h2 class="dcp-modal-title" id="dcp-modal-password-create-title">Set Password</h2>
        <button class="dcp-modal-close" aria-label="Close modal" data-micromodal-close></button>
      </header>
      <main class="dcp-modal-content" id="dcp-modal-password-create-content">
        <p id="dcp-modal-password-create-prompt">Please enter new password:</p>
        <input form="dcp-modal-password-create-form" type="text" autocomplete="username" id='dcp-modal-password-create-hidden-username' style="display:none">
        <input form="dcp-modal-password-create-form" type="password" autocomplete="new-password" id="dcp-modal-password-create-input">
        <p id="dcp-modal-password-create-prompt-confirm">Please confirm new password by entering it again:</p>
        <div style="display: inline-block;">
          <input form="dcp-modal-password-create-form" type="password" autocomplete="new-password" id="dcp-modal-password-create-input-confirm">
          <div id="dcp-modal-password-create-matching-error">Passwords do not match.</div>
        </div>
      </main>
      <footer class="dcp-modal-footer">
        <div class="dcp-buttons-wrapper">
          <button form="dcp-modal-password-create-form" class="dcp-modal-btn dcp-modal-btn-primary" id="dcp-modal-password-create-submit" type="submit">Submit</button>
        </div>
        <a class="dcp-modal-logo-link" href="https://distributed.computer"></a>
      </footer>
    </div>
  </div>
</div>

