# @file   CODEOWNERS - machine-generated via dcp-docs-wes
# @author wes@people

[Brandon]
/publish-docs.sh @BChristieDistributive
/catalog-info.yaml @BChristieDistributive

[Eddie]
/package-lock.json @eroosenmaallen

[Eddie or Wes]
/dist/dcp-client-bundle.js @eroosenmaallen @wesgarland

[Wes]
/templates/ @wesgarland
/assets/ @wesgarland
/test-pseudo-root/ @wesgarland
/etc/ @wesgarland
/examples/ @wesgarland
/tests/ @wesgarland
/build/ @wesgarland
/docs/ @wesgarland
/lib/ @wesgarland
/libexec/ @wesgarland
/dist/dcp-client-bundle.js.map @wesgarland
/dist/dcp-modal-style.css @wesgarland
/bin/ @wesgarland
/.eslintrc.json @wesgarland
/.git @wesgarland
/.gitignore @wesgarland
/.gitlab-ci.yml @wesgarland
/.npmignore @wesgarland
/.npmrc @wesgarland
/.tidelift @wesgarland
/LICENSE.md @wesgarland
/README.md @wesgarland
/cjs2-shim.js @wesgarland
/cors-proxy.html @wesgarland
/dcp-client.css @wesgarland
/dcp-client.js @wesgarland
/dcp-support.py @wesgarland
/favicon.ico @wesgarland
/fs-basic.py @wesgarland
/generated/ @wesgarland
/index.js @wesgarland
/index.py @wesgarland
/init-common.js @wesgarland
/licenses/ @wesgarland
/ns-map.js @wesgarland
/test-helpers/ @wesgarland
/windows-registry.js @wesgarland

[Wes or Eddie]
/package.json @wesgarland @eroosenmaallen
